<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Management employees{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="/static/css/variable.css">
</head>
<body>

    <main>
        {% block content %}{% endblock %}
    </main>
    
    {% include 'GetLink.html' %}
</body>
</html>
