<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/HeaderFooter.css">
    <link rel="stylesheet" href="/static/css/Variable.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">ໜ້າຫຼັກ</a></li>
                <li><a href="#">ກ່ຽວກັບ</a></li>
                <li><a href="#">ສຼນບໍລິການ</a></li>
                <li><a href="#">ຕິດຕໍ່</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>