<!-- templates/index.html -->
{% extends 'Base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<div class="container">
    <h4>Employees table</h4>
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>Email</th>
                <th>Date of birth</th>
                <th>Date started</th>
                <th>Salary</th>
                <th>Position</th>
                <!-- <th>Action</th> -->
            </tr>
        </thead>
        
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.Name }}</td>
                <td>{{ employee.Phone_Number }}</td>
                <td>{{ employee.Email }}</td>
                <td>{{ employee.Date_of_Birth }}</td>
                <td>{{ employee.Date_Started }}</td>
                <td>{{ employee.Salary }}</td>
                <td>{{ employee.Position }}</td>
                <!-- <td class="action">
                    <a href="#" id="view_emp">View</a> |
                    <a href="#" id="edit_emp">Edit</a> |
                    <a href="#" id="delete_emp">Delete</a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}